@charset "utf-8";
/* gloabl */
body {
	font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "\5B8B\4F53", simsun, sans-serif;
}
a:focus {outline: none;}
a:hover{text-decoration: none;}
.container,.row{padding-left: 0;padding-right: 0;}


/* header */
.logo{padding:0 15px;}
.nav{margin-right: 0;}
.navbar-right{margin-right: 0;}
.btngroup{margin-top: 7px;}


/* banner */
#myCarousel {margin: 0 0 0 0;}
.carousel-inner img {margin: 0 auto;}
/* .carousel-control {font-size: 100px;} */  /*左右按键大小*/


/* banner淡入淡出效果样式 */
.carousel-fade .carousel-inner .item {
	transition-property: opacity;
}
.carousel-fade .carousel-inner .item,  
.carousel-fade .carousel-inner .active.left,  
.carousel-fade .carousel-inner .active.right {
   opacity: 0;
}
.carousel-fade .carousel-inner .active,  
.carousel-fade .carousel-inner .next.left,  
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;	
}
.carousel-fade .carousel-inner .next,  
.carousel-fade .carousel-inner .prev,  
.carousel-fade .carousel-inner .active.left,  
.carousel-fade .carousel-inner .active.right {
    left: 0;
    transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
    z-index: 2;
}


/* srarch tags */
.search_tags{margin: 20px 0 20px 2px;}
.tags{padding:0 0 0 0px;line-height: 30px;letter-spacing: 1px;}
.tags h2{font-size: 14px;margin:0;line-height: 30px;font-weight: bold;}
.tags h2 span{padding-right: 5px;}


/* tab */
.tab li{line-height: 16px;border-bottom: 1px dotted #ccc;line-height: 36px;}
/* .tab li span{float: right;} */
.tab li a{color: #333;}

/* tj */
.tj{margin:0 0 0 15px;}

.tj .panel-primary{border-color:#fff;}
.table > tbody > tr > td{border-top: 1px dotted #ddd;padding:8px 8px 5.5px 0px;overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;}
.tj p{margin: 0 ;}
.tj .panel-body{padding-left:0;padding-right: 0;}
.tj .media-heading{margin-bottom: 10px;}

/* thumbnail */
.thumbnail h3{font-size: 14px;}

/* lanmu */
.glyphicon-thumbs-up,.glyphicon-thumbs-down,.glyphicon-pencil,.glyphicon-fire,.glyphicon-home,.glyphicon-th-list,.glyphicon-th{padding-right: 5px;}
.nav li span,.glyphicon-th-list,.glyphicon-list-alt,.glyphicon-menu-right，.glyphicon-thumbs-up,.glyphicon-comment{padding-right: 5px;}
.list-group-item{border: 1px dotted #ddd;}
.media-heading{font-size: 16px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.project{padding-left: 0;}

/* comment */
.comment li{padding: 10px 15px 12.6px;}
.votett{text-align: center;font-size: 16px;padding: 20px 0 !important;}

.vote .radio{border-bottom: 1px dotted #ccc;padding:5px 0 10px 47px;}
.btng{text-align: center;padding: 10px 0;}


/* 登录 */
.login h1{text-align: center;margin: 100px 0 0 0;color: #fff;text-shadow: 0px 1px 1px #555;font-weight: bold;}
.login h1 sup {font-size: 18px;font-style: normal;margin-left: 10px;position: relative;top: -15px;}
#login{width: 370px;background: #fff;margin:50px auto 100px;padding:50px 35px 30px 20px;border-radius: 10px;box-shadow:0 0 10px #666;}

/* list */
.mbx{margin: 20px 0 0 0;}
.jumbotron {
	background-image: url(../images/list_bg.jpg);
	margin: 0;
	color: #ccc;
}
.jumbotron h1 {
	font-size: 26px;
	padding: 0 0 0 20px;
}
.jumbotron h4 {
	font-size: 15px;
	padding: 0 0 0 20px;
}
#information {
	background-color: #eee;
	padding: 40px 0;
}
.info-content {
	background-color: #fff;
	margin: 0 0 20px 0;
	box-shadow: 2px 2px 3px #ccc;
}
.info-content img {
	margin: 12px 0;
}
.info-content h4 {
	color: #333;
	padding: 2px 0 0 0;
	font-size: 14px;
}
.info-content p {
	line-height: 1.6;
}
.slide {
	background-color: #fff;
	box-shadow: 2px 2px 3px #ccc;
}
.slide blockquote {
	margin: 0;
	padding: 0;
	border-left: 5px solid #3b1f80;
}
.slide h2 {
	font-size: 20px;
	color: #333;
	padding: 5px;
}
.slide h4 {
	color: #333;
	font-size: 16px;
	padding: 2px 0 0 0;
	line-height: 1.6;
}

/* page */
.page{text-align: center;}
.page li a{color:#000;}
.page li.active a{background: #000;border-color:#000;}

/* case */
#case {
	padding: 40px 0;
	background-color: #eee;
	text-align: center;
}
#case h4 {
	color: #666;
}
#case p {
	color: #666;
	line-height: 1.6;
}

/* about */
#about {
	background-color: #eee;
	padding: 40px 15px;
}
#about a {
	color: #0059b2;
}
#about .about {
	background-color: #fff;
	box-shadow: 2px 2px 3px #ccc;
}
#about h3 {
	color: #333;
	font-size: 18px;
	border-bottom: 1px solid #eee;
	padding: 20px 0;
	margin: 0 0 10px 0;
}
#about p {
	line-height: 2;
	font-size: 13px;
}

.navfix {
	width: 100%;
}
.navfix.affix {
	top : 50px;  /*右侧导航固定时的top值*/
}

.navfix{
	width: 262px;
}

.navfix li{
    position: relative;
    display: block;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.navfix li.active a{color: #fff !important;}

/* article */
.content{background: #fff;box-shadow: 2px 2px 3px #ccc;padding: 20px;}
.content-tt{text-align: center;}
.content-tt h2{text-align: center;font-size: 20px;font-weight: bold;}
.content-tt span{padding:0px 5px 0 0;}
.content-summary{margin: 20px auto;}

/* comment */
.comments{margin: 20px auto;}
.comments .pl{float: right;}
.codes{margin:10px 0;}
.comments .media-body h4{font-size: 14px;margin-top: 0;}
.comments .media-body p{font-size: 12px;}
.comments .meida{border-bottom: 1px dotted #ccc;padding-top: 8px;}

/* footer */
#footer {
	background-color: #666;
	border-top: 1px solid #ccc;
	padding: 20px;
	text-align: center;
	color: #eee;
}

/* login */
.reg{width: 600px;margin:50px auto;border: 1px solid #ccc;padding:20px;box-shadow: 2px 2px 3px #ccc;}


/*没有小于768px，是因为Bootstrap3以移动端优先设计，把手机端的合适的样式，如字体大小直接写在样式表里，然后通过下面的媒体查询来设置在大屏幕时显示的样式*/

/* 小屏幕（平板，大于等于768px） */
@media (min-width: 768px) {
    .jumbotron h1 {
		font-size: 30px;
	}
	.jumbotron h4 {
		font-size: 16px;
	}
	.info-content h4 {
		font-size: 16px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	#about h3 {
		font-size: 19px;
	}
	#about p {
		font-size: 14px;
	}
}

/* 中等屏幕（桌面显示器，大于等于992px） */
@media (min-width: 992px) {
    .jumbotron h1 {
		font-size: 33px;
	}
	.jumbotron h4 {
		font-size: 17px;
	}
	.info-content h4 {
		font-size: 18px;
	}
	#about h3 {
		font-size: 20px;
	}
	#about p {
		font-size: 15px;
	}
}

/* 大屏幕（大桌面显示器，大于等于1200px） */
@media (min-width: 1200px) {
    .jumbotron h1 {
		font-size: 36px;
	}
	.jumbotron h4 {
		font-size: 18px;
	}
	.info-content h4 {
		font-size: 20px;
	}
	#about h3 {
		font-size: 22px;
	}
	#about p {
		font-size: 16px;
	}
}

