{extend name="public/base" /}
{block name="seo"}
<title>{$title|default="邀约系统数据管理后台"}</title>
<meta name="keywords" content="{keywords|default='数据管理后台'}">
<meta name="description" content="{description|default='数据管理后台'}">
{/block}
<!--block标签里不写内容则表示去掉基础模板里部分内容-->
{block name='header'}{/block}
{block name='aside'}{/block}
{block name="content"}
<div class="page-container">
	<p class="f-20 text-success">欢迎登录邀约系统数据管理后台！</p>
	<p>登录次数：{$Think.session.admin_info.login_count} 次</p>
	<p>上次登录IP：{$Request.ip}  上次登录时间：{:date("Y-m-d H:i:s", $Think.session.admin_info.login_time)}</p>
	<!--<table class="table table-border table-bordered table-bg">
		<thead>
		<tr>
			<th colspan="7" scope="col">信息统计</th>
		</tr>
		<tr class="text-c">
			<th>统计</th>
			<th>资讯库</th>
			<th>图片库</th>
			<th>产品库</th>
			<th>用户</th>
			<th>管理员</th>
		</tr>
		</thead>
		<tbody>
		<tr class="text-c">
			<td>总数</td>
			<td>92</td>
			<td>9</td>
			<td>0</td>
			<td>8</td>
			<td>20</td>
		</tr>
		<tr class="text-c">
			<td>今日</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
		</tr>
		<tr class="text-c">
			<td>昨日</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
		</tr>
		<tr class="text-c">
			<td>本周</td>
			<td>2</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
		</tr>
		<tr class="text-c">
			<td>本月</td>
			<td>2</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
		</tr>
		</tbody>
	</table>-->
	<table class="table table-border table-bordered table-bg mt-20">
		<thead>
		<tr>
			<th colspan="2" scope="col">服务器信息</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<th width="30%">服务器计算机名</th>
			<td><span id="lbServerName">{$Request.host}</span></td>
		</tr>
		<tr>
			<td>服务器IP地址</td>
			<td>{$Request.ip}</td>
		</tr>
		<tr>
			<td>服务器域名</td>
			<!--PHP语句:<?php echo \think\Request::instance()->domain(); ?>-->
			<td>{$Request.domain}</td>
		</tr>
		<tr>
			<td>服务器端口 </td>
			<td>80</td>
		</tr>
		<tr>
			<td>服务器版本 </td>
			<td>{php}echo $_SERVER["SERVER_SOFTWARE"];{/php}</td>
		</tr>
		<tr>
			<td>服务器操作系统 </td>
			<td>{$Think.PHP_OS}</td>
		</tr>
		<tr>
			<td>系统所在文件夹 </td>
			<td>{php}echo ROOT_PATH;{/php}</td>
		</tr>
		<tr>
			<td>当前php版本 </td>
			<td>{$Think.const.PHP_VERSION}</td>
		</tr>
		<tr>
			<td>服务器当前时间 </td>
			<td>{:date("Y年n月j日 H:i:s")}</td>
		</tr>
		<tr>
			<td>当前Session数量 </td>
			<td>{:count($_SESSION)}</td>
		</tr>
		<tr>
			<td>当前SessionID </td>
			<td>{:session_id()}</td>
		</tr>
		<tr>
			<td>当前系统用户名 </td>
			<td>{:session('admin_info.name')}</td>
		</tr>
		</tbody>
	</table>
</div>
{/block}