/*移动端是不支持任何手机字体的*/
body {
	margin: 0;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
h3 {
	margin: 0;
}
p {
	margin: 0;
}
a {
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
}
mark {
	background: none;
}
body,
html {
	height: 100%;
	overflow: hidden;
	position: relative;
}
#header {
	height: 1.51rem;
	background: url(../images/header.png) no-repeat;
	background-size: cover;
}
#footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1.62rem;
	background: url(../images/footer.png) no-repeat;
	background-size: cover;
}
#main {   /*绑定上下滑屏事件*/
	position: absolute;
	left: 0;
	right: 0;
	top: 1.51rem;
	bottom: 1.62rem;
	overflow: hidden;
	background: #282828;
}
#swiper {  /*上下滑屏时发生位移的元素*/
	min-height: 100%;
	background: #fff;
	position: relative;  
}
#list li {   /*绑定左右滑屏事件*/
	width: 10.8rem;
	height: 2.29rem;
	border-bottom: 1px solid #dedfe0;
	background: #fff;
}
#list .active {
	background: #edfaff;
}
.swiper {
	position: relative; /*swiper是左右滑屏发生位移的元素，不设置相对定位，安卓机左右滑屏有bug，还是会出现上下左右一起滑动的*/
	width: 20.18rem;
	height: 2.29rem;
}
.view {
	float: left;
	box-sizing: border-box;
	width: 10.8rem;
	padding: .28rem .42rem;
}
.avatar {
	float: left;
	width: 1.75rem;
	height: 1.75rem;
	border-radius: 50%;
	background: url(../images/avatar/avatar0.jpg) no-repeat center;
	background-size: cover;
}
.info {
	float: left;
	width: 5rem;
	margin-left: .45rem;
}
.info h3 {
	width: 5rem;
	font: bold .55rem/1rem "宋体";
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.info p {
	width: 5rem;
	font: .4rem/.6rem "宋体";
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.aside mark {
	float: right;
	padding: 0 .22rem;
	font: .36rem/.7rem "宋体";
	border-radius: .35rem;
	background: #f74c31;
	color: #fff;
	text-align: center;
}
.aside {
	width: 2.5rem;
	float: right;
}
.aside time {
	display: block;
	margin-top: .17rem;
	text-align: right;
	font: .38rem/.8rem "宋体";
} 
.btns {
	float: left;
	width: 9.38rem;
}
.btns a {
	float: left;
	height: 2.29rem;
	font: .4rem/2.29rem "宋体";
	color: #fff;
	text-align: center;
}
.btns a:nth-of-type(1){
	width: 2.94rem;
	background: #c7c7cd;
}
.btns a:nth-of-type(2){
	width: 3.5rem;
	background: #ff9d00;
}
.btns a:nth-of-type(3){
	width: 2.94rem;
	background: #ff3a30;
}
#load {
	position: absolute;
	left: 0;
	top: -2.4rem;
	width: 100%;
	height: 2.4rem;
}
.loadImg {
	position: absolute;
	left: 2.5rem;
	top: .2rem;
	width: .8rem;
	height: 2rem;
	background: url("../images/load.png") no-repeat center;
	background-size: cover;
}
.loadImg2 {
	display: none;
	position: absolute;
	left: 4rem;
	top: .95rem;
	width: .5rem;
	height: .5rem;
	background: url("../images/loading.gif") no-repeat center;
	background-size: cover;
}
.loadText {
	display: block;
	font: .4rem/2.4rem "宋体";
	color: #fff;
	text-align: center;
}